//
// Bars.css
// --------------------------------------------------

.toolbar {
  min-height: 22px;
  @include clearfix;
}

.toolbar-header {
  border-bottom: 1px solid $border-color;

  .title {
    margin-top: 1px;
  }
}

.toolbar-footer {
  border-top: 1px solid $border-color;
  -webkit-app-region: drag;
}

// Simple centered title to go in the toolbar
.title {
  margin: 0;
  font-size: 12px;
  text-align: center;
  cursor: default;
}

// Buttons in toolbars
.toolbar-actions {
  margin-top: 10px;
  margin-bottom: 7px;
  padding-right: $padding-less;
  padding-left: $padding-less;
  padding-bottom: $padding-less;
  -webkit-app-region: drag;
  @include clearfix;

  > .btn,
  > .btn-group {
    margin-left: 4px;
    margin-right: 4px;
  }
}
