//
// Bars.css
// --------------------------------------------------

.toolbar {
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  @include linear-gradient(#e8e6e8, #d1cfd1);
  @include clearfix;
}

.toolbar-header {
  border-bottom: 1px solid $dark-border-color;

  .title {
    margin-top: 1px;
  }
}

.toolbar-footer {
  border-top: 1px solid $dark-border-color;
  -webkit-app-region: drag;
}

// Simple centered title to go in the toolbar
.title {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #555;
  cursor: default;
}

// Borderless toolbar for the clean look
.toolbar-borderless {
  border-top: 0;
  border-bottom: 0;
}

// Buttons in toolbars
.toolbar-actions {
  margin-top: 4px;
  margin-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  -webkit-app-region: drag;
  @include clearfix;

  > .btn,
  > .btn-group {
    margin-left: 4px;
    margin-right: 4px;
  }
}
