.toolbar {
  background-color: #e8e8e8;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px rgba(255,255,255,.5);
  @include clearfix;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  margin: 0;
  padding-top: 7px;
  color: #333;
  text-shadow: 0 1px rgba(255,255,255,.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: default;
}
