//
// Base styles
// --------------------------------------------------

* {
  cursor: default;
  -webkit-user-drag: text;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// We fix position the body and scroll `.content`.
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 13px/1.6 system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  color: #000;
  background-color: #fff;
}

img {
  -webkit-user-drag: text;
}

// Basic app structure
.pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	display: flex;
  flex-direction: column;
}
.pane-content {
  position: relative;
  overflow-y: auto;
	display: flex;
  flex: 1;
}

// Utility classes
.selectable-text {
  -webkit-user-select: text;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  @include clearfix();
}
