//
// Base styles
// --------------------------------------------------

* {
  cursor: default;
  -webkit-user-drag: text;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $gray-color;
  background-color: transparent;
}

hr {
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $border-color;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

// Basic app structure
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	display: flex;
  flex-direction: column;
  background-color: $chrome-color;
}

.window-content {
  position: relative;
  overflow-y: auto;
	display: flex;
  flex: 1;
}
