//
// Buttons.css
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
// Normal buttons
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  &:active {
    background-color: #ddd;
  }
}
// For primary actions
.btn-primary {
  color: #fff;
  background-color: #429ae8;
  border-color: #3b80bd;

  &:active {
    background-color: #3082cb;
  }
}

// Button groups
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above

  .btn {
    position: relative;
    float: left;

    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders when buttons are next to each other
.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -3px;
  }
}

.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  z-index: 10;
}
