//
// Buttons.css
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $default-border-radius;
  -webkit-app-region: no-drag;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-mini {
  padding: 2px 6px;
}

.btn-large {
  padding: 6px 12px;
}

.btn-form {
  padding-right: 20px;
  padding-left: 20px;
}

// Normal buttons
.btn-default {
  color: $gray-color;
  border-color: $dark-border-color;
  background-color: #fafafa;

  &:active {
    background-color: #eee;
  }
}

// Button variations
.btn-primary,
.btn-positive,
.btn-negative,
.btn-warning {
  color: #fff;
}

// For primary buttons
.btn-primary {
  background-color: $primary-color;

  &:active {
    background-color: darken($primary-color, 10%);
  }
}

// For positive buttons
.btn-positive {
  background-color: $positive-color;

  &:active {
    background-color: darken($positive-color, 10%);
  }
}

// For negative actions
.btn-negative {
  background-color: $negative-color;

  &:active {
    background-color: darken($negative-color, 10%);
  }
}

// For warning actions
.btn-warning {
  background-color: $warning-color;

  &:active {
    background-color: darken($warning-color, 10%);
  }
}

// Link buttons
.btn-link {
  color: $primary-color;
  background: none;

  &:active {
    color: darken($primary-color, 10%);
  }
}

// Icons in buttons
.btn .icon {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #888;
  font-size: 14px;
  line-height: 1;
}

// Add the margin next to the icon if there is text in the button too
.btn .icon-text {
  margin-right: 5px;
}

// This utility class add a down arrow icon to the button
.btn-dropdown:after {
  font-family: "photon-entypo";
  margin-left: 5px;
  content: '\e873';
}
