//
// Buttons.css
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $default-border-radius;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.btn-mini {
  padding: 2px 6px;
}
.btn-large {
  padding: 6px 12px;
}

// Normal buttons
.btn-default {
  color: $gray-color;
  background-color: $chrome-color;
  border-color: $border-color;

  &:active {
    background-color: #ddd;
  }
}

// Button variations
.btn-primary,
.btn-positive,
.btn-negative,
.btn-warning {
  color: #fff;
  border: 0;
}

// For primary buttons
.btn-primary {
  background-color: $primary-color;

  &:active {
    background-color: darken($primary-color, 15%);
  }
}

// For positive buttons
.btn-positive {
  background-color: $positive-color;

  &:active {
    background-color: darken($positive-color, 15%);
  }
}

// For negative actions
.btn-negative {
  background-color: $negative-color;

  &:active {
    background-color: darken($negative-color, 15%);
  }
}

// For warning actions
.btn-warning {
  background-color: $warning-color;

  &:active {
    background-color: darken($warning-color, 15%);
  }
}

// Icons in buttons
.btn .icon {
  float: left;
  width: 15px;
  height: 15px;
  color: #737475;
  font-size: 15px;
  line-height: 1;
}
