//
// Docs.css
// --------------------------------------------------

//Imports
@import "mixins.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 16px/1.7 "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300;
}

h2 {
  margin-bottom: .18em;
  font-size: 1.5em;
}

h3 {
  margin-bottom: .15em;
  font-size: 1.2em;
}

h5 {
  font-weight: 400;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1em;
  color: #66;
}

.lead {
  font-size: 1.1em;
  color: #777;
}

a {
  color: #4b92c6;
  text-decoration: none;
}

// Buttons

.btn {
  display: inline-block;
  padding: 6px 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .2s linear;
}

.btn-download {
  padding: 12px 30px;
  //color: #fff;
  border-color: #ddd;
  //background-color: #4b92c6;
}

.btn-inversed {
  padding: 12px 30px;
  color: #fff;
  border-color: rgba(255,255,255,.5);

  &:hover {
    border-color: #fff;
  }
}

// Use a simple flexbox grid
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include clearfix;
}

@media (min-width: 32em) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 60rem;
  }

  .col-group {
    display: flex
  }

  .col {
    padding: 3rem 2rem;
    flex: 1;
  }

  .split-section {
    //@include split-linear-gradient(#ffffff, #f3f3f3);

    .col:first-child {
      border-right: 1px solid #ddd;
    }
  }
}

// Navbar
.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.2);
  @include clearfix;
}
.nav-group {
  float: right;
}

.nav-item {
  float: left;
  margin-left: 30px;
  font-size: 14px;
  color: #eee;

  &:hover {
    color: #fff;
  }

  &.title {
    margin-left: 0;
    float: left;
    color: #fff;
  }
}

// Masthead
.masthead {
  position: relative;
  padding-bottom: 80px;
  color: #fff;
  background-image: url('/assets/img/photo-couch.jpg');
  background-size: cover;
  background-position: center;

  .masthead-content {
    margin-top: 50px;
  }

  .masthead-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.1em;
    text-shadow: 0 0 3px rgba(0,0,0,.3);
  }
}


// Container for the app
.demo-app-container {
  height: 400px;
  margin-right: 35px;
  margin-bottom: 40px;
  margin-left: 35px;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 60px rgba(0,0,0,.3);

  .demo-app {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4px;
  }
}

// The demo is useless on mobile
@media (min-width: 32em) {
  .demo-app-container {
    display: block;
  }
}

// Sections
.docs-section {
  border-bottom: 1px solid #ddd;
}
.docs-section-gray {
  background-color: #f8f8f8;
}

.oss-section {
  position: relative;
  color: #fff;
  text-shadow: 0 0 3px rgba(0,0,0,.3);
  @include directional-gradient(#000, #0f2b3c);

  a {
    color: #fff;
    text-decoration: underline;
  }

  p {
    color: darken(#ffffff, 20%);
  }
}

// Footer
.footer {
  //color: #fff;
  background-color: #f8f8f8;
}

// Utilities
.text-centered {
  text-align: center;
}

// Icons
@font-face {
  font-family: "photon-entypo";
  src: url('/dist/fonts/photon-entypo.eot');
  src: url('/dist/fonts/photon-entypo.eot?#iefix') format('eot'),
    url('/dist/fonts/photon-entypo.woff') format('woff'),
    url('/dist/fonts/photon-entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bucket:before { content: '\e8d5'; } /* '' */
.icon-code:before { content: '\e834'; } /* '' */
.icon-window:before { content: '\e86d'; } /* '' */
