//
// Docs.css
// --------------------------------------------------

//Imports
@import "mixins.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 14px/1.6 "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h2 {
  margin-bottom: .18em;
  font-size: 1.7em;
}

h3 {
  margin-bottom: .15em;
  font-size: 1.25em;
}

h5 {
  font-weight: 400;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1em;
  color: #66;
}

.lead {
  font-size: 1.1em;
  color: #777;
}

// Use a simple flexbox grid
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include clearfix;
}

@media (min-width: 48em) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 60rem;
  }

  .col-group {
    display: flex
  }

  .col {
    padding: 2rem;
    flex: 1;
  }

  .split-section {
    @include split-linear-gradient(#ffffff, #f8f8f8);

    .col:first-child {
      border-right: 1px solid #ddd;
    }
  }
}

// Masthead
.masthead {
  color: #fff;
  @include directional-gradient(#0a1855, #da0024)
}

// Sections
.docs-section {
  border-bottom: 1px solid #ddd;
}

// Example app split-section
.app-section {
  margin-top: -1px; // Hides the section border
  padding-top: 80px;
  padding-bottom: 80px;
  display: none;
  color: #fff;
  background-image: url('../img/photo-couch.jpg');
  background-size: cover;
  background-position: center;
}
// The demo is useless on mobile
@media (min-width: 48em) {
  .app-section {
    display: block;
  }
}

.app-section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  text-shadow: 0 0 3px rgba(0,0,0,.3);
}

.app-section-lead {
  margin-top: 0;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  opacity: .8;
}

.app-section-credit {
  opacity: .7;

  a {
    color: #fff;
  }
}

// Container for the app
.demo-app-container {
  height: 450px;
  margin-right: 70px;
  margin-bottom: 30px;
  margin-left: 70px;
  box-shadow: 0 0 60px rgba(0,0,0,.3);

  .demo-app {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4px;
  }
}

// Utilities
.text-centered {
  text-align: center;
}
