//
// Forms.css
// --------------------------------------------------

.search {
  display: block;
  min-height: 22px;
  width: 100%;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 30px;
  -webkit-appearance: textfield;

  &:focus {
    outline: none;
    margin: -2px;
    border: 3px solid #9bc2ed;
  }
}
