//
// Forms.css
// --------------------------------------------------

.search {
  height: 22px;
  width: 200px;
  margin: 8px 10px 7px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border: 1px solid #2e6da4;
  }
}
