//
// Lists.scss
// --------------------------------------------------

.list-group {
  list-style: none;
  margin: 0;
  padding: 0;

  strong,
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    margin: 0
  }
}
.list-group-item {
  padding: 10px;
  font-size: 12px;
  border-top: 1px solid #ddd;

  &:first-child {
    border-top: 0;
  }
}

// Media objects in lists
.media-object {
  margin-top: 3px;
}
.media-object.pull-left {
  margin-right: 10px
}
.media-object.pull-right {
  margin-left: 10px
}
.media-body {
  overflow: hidden;
}
