//
// Navs.scss
// --------------------------------------------------

.nav-group {
  font-size: 14px;
}
.nav-group-item {
  padding: 2px 10px 2px 25px;
  display: block;
  color: $gray-color;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:active,
  &.selected {
    background-color: #dcdfe1;
  }
}
.nav-group-title {
  margin: 0;
  padding: 10px 10px 2px;
  font-size: 12px;
  font-weight: 500;
  color: lighten($gray-color, 20%);
}
