//
// Navs.scss
// --------------------------------------------------

.nav-group {
  font-size: 14px;
}

.nav-group-item {
  padding: 2px 10px 2px 25px;
  display: block;
  color: $gray-color;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:active,
  &.active {
    background-color: #dcdfe1;
  }

  .icon {
    width: 19px; // Prevents a one pixel cutoff
    height: 18px;
    float: left;
    color: #737475;
    margin-top: -3px;
    margin-right: 7px;
    font-size: 18px;
    text-align: center;
  }
}

.nav-group-title {
  margin: 0;
  padding: 10px 10px 2px;
  font-size: 12px;
  font-weight: 500;
  color: lighten($gray-color, 20%);
}
