.cols {
  height: 100vh;
	display: flex;
}

.col {
  margin-top: 37px;
  overflow-y: auto;
  flex: 3 auto;
}

.col-main {
  flex-direction: column;
}

.col-sec {
  max-width: 250px;
  min-width: 150px;
  flex: 1 0 25%;
  background-color: #f3f3f3;
}

.col-content {
  margin: 10px;
  height: 5000px;
}
