//
// Navs.scss
// --------------------------------------------------

table {
  width: 100%;
  border: 0;
  border-collapse: separate;
  font-size: 12px;
  text-align: left;
}

thead {
  background-color: #f5f5f4;
}

tbody {
  background-color: #fff;
}

.table-striped tr:nth-child(even) {
   background-color: #f5f5f4;
}

tr:active,
.table-striped tr:active:nth-child(even) {
  color: #fff;
  background-color: $active-color;
}

thead tr:active {
  color: $gray-color;
  background-color: #f5f5f4;
}

th {
  font-weight: normal;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

th,
td {
  padding: 2px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:last-child {
    border-right: 0;
  }
}
