// Tabs.scss
// --------------------------------------------------

.tab-group {
  margin-top: -1px;
  display: flex;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.tab-item {
  position: relative;
  flex: 1;
  padding: 3px;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid $border-color;
  background-color: #eee;

  &:first-child {
    border-left: 0;
  }

  &.active {
    background-color: #fafafa;
  }

  .icon-close-tab {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #666;
    opacity: 0;
    transition: opacity .1s linear, background-color .1s linear;
    border-radius: 3px;
    transform: translateY(-50%);
    z-index: 10;
  }

  &:hover .icon-close-tab {
    opacity: 1;
  }
}

.tab-item-fixed {
  flex: none;
  padding: 3px 10px;
}
