//
// Utilities styles
// --------------------------------------------------

// Utility classes
.selectable-text {
  cursor: text;
  -webkit-user-select: text;
}

// Text alignment
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Floats
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// Padding
.padded {
  padding: $padding;
}

.padded-less {
  padding: $padding-less;
}

.padded-more {
  padding: $padding-more;
}

// Vertical Padding
.padded-vertically {
  padding-top: $padding;
  padding-bottom: $padding;
}

.padded-vertically-less {
  padding-top: $padding-less;
  padding-bottom: $padding-less;
}

.padded-vertically-more {
  padding-top: $padding-more;
  padding-bottom: $padding-more;
}

// Horizontal Padding
.padded-horizontally {
  padding-right: $padding;
  padding-left: $padding;
}

.padded-horizontally-less {
  padding-right: $padding-less;
  padding-left: $padding-less;
}

.padded-horizontally-more {
  padding-right: $padding-more;
  padding-left: $padding-more;
}

// Padding top
.padded-top {
  padding-top: $padding;
}

.padded-top-less {
  padding-top: $padding-less;
}

.padded-top-more {
  padding-top: $padding-more;
}

// Padding bottom
.padded-bottom {
  padding-bottom: $padding;
}

.padded-bottom-less {
  padding-bottom: $padding-less;
}

.padded-bottom-more {
  padding-bottom: $padding-more;
}

// Set the background-color to set a sidebar back a bit.
.sidebar {
  background-color: #f5f5f4;
}

// Allow the window to be dragged around the desktop by any element in the application.
.draggable {
  -webkit-app-region: drag;
}

// Clearfix
.clearfix {
  @include clearfix();
}
