//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------
$font-family-default: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$font-size-default: 13px !default;
$font-weight: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: 1.6 !default;


// Colors
// --------------------------------------------------

// Main theme colors
$primary-color: #428bca !default;
$chrome-color:  #fff !default;

// Action colors
$default-color:  #fff !default;
$positive-color: #5cb85c !default;
$negative-color: #d9534f !default;

// Shades
$dark-color: #405057 !default;
