//
// Variables
// --------------------------------------------------

// Type
// --------------------------------------------------
$font-family-default: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$font-size-default: 13px !default;
$font-weight: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: 1.6 !default;


// Colors
// --------------------------------------------------

// Main theme colors
$primary-color: #57acf5 !default;
$chrome-color:  #fff !default;

// Copy
$gray-color: #333 !default;
$border-color: #ddd !default;

// Action colors
$default-color:  #fff !default;
$positive-color: #34c84a !default;
$negative-color: #fc605b !default;
$warning-color: #fdbc40 !default;

// Shades
$dark-color: #405057 !default;

// Other
// --------------------------------------------------

$default-border-radius: 3px;
