<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bars example</title>

    <!-- Photon.css -->
    <link rel="stylesheet" href="/dist/css/photon.min.css">
  </head>
  <body>
    <div class="window">
      <header class="toolbar toolbar-header">
        <h1 class="title">Header</h1>
      </header>

      <div class="window-content"></div>

      <footer class="toolbar toolbar-footer">
        <h1 class="title">Footer</h1>
      </footer>
    </div>
  </body>
</html>
