@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/1.7 "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300;
}

h2 {
  margin-bottom: .18em;
  font-size: 1.5em;
}

h3 {
  margin-bottom: .15em;
  font-size: 1.2em;
}

h5 {
  font-weight: 400;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1em;
  color: #66;
}

.lead {
  font-size: 1.1em;
  color: #777;
}

a {
  color: #4b92c6;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 6px 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .2s linear;
}

.btn-download {
  padding: 12px 30px;
  border-color: #ddd;
}

.btn-inversed {
  padding: 12px 30px;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}
.btn-inversed:hover {
  border-color: #fff;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}

@media (min-width: 32em) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 60rem;
  }

  .col-group {
    display: flex;
  }

  .col {
    padding: 3rem 2rem;
    flex: 1;
  }

  .split-section .col:first-child {
    border-right: 1px solid #ddd;
  }
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  border-bottom: 1px solid #ddd;
}
.nav:before, .nav:after {
  display: table;
  content: " ";
}
.nav:after {
  clear: both;
}

.nav-group {
  float: right;
}

.nav-item {
  float: left;
  margin-left: 30px;
  font-size: 14px;
  color: #666;
}
.nav-item:hover {
  color: #888;
}
.nav-item.title {
  margin-left: 0;
  float: left;
  color: #333;
}

.masthead {
  position: relative;
  height: 88vh;
  min-height: 400px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
}
.masthead .masthead-content {
  position: relative;
  top: 50%;
  z-index: 20;
  transform: translatey(-50%);
}
.masthead .masthead-title {
  padding-right: 25rem;
  font-size: 30px;
}

.docs-section {
  border-bottom: 1px solid #ddd;
}

.docs-section-gray {
  background-color: #f8f8f8;
}

.marketing-icon {
  position: relative;
  display: none;
  width: 66px;
  height: 66px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  background-color: #0a1855;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0a1855), color-stop(100%, #da0024));
  background-image: -webkit-linear-gradient(45deg, #0a1855 0%, #da0024 100%);
  background-image: -moz-linear-gradient(45deg, #0a1855 0%, #da0024 100%);
  background-image: linear-gradient(45deg, #0a1855 0%, #da0024 100%);
}
.marketing-icon .icon {
  position: relative;
  color: #aaa;
  font-size: 24px;
  line-height: 66px;
  z-index: 2;
}
.marketing-icon:after {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  z-index: 1;
}

.app-section {
  position: relative;
  margin-top: -1px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: none;
  color: #fff;
  background-color: #000;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #000), color-stop(100%, #061f51));
  background-image: -webkit-linear-gradient(45deg, #000 0%, #061f51 100%);
  background-image: -moz-linear-gradient(45deg, #000 0%, #061f51 100%);
  background-image: linear-gradient(45deg, #000 0%, #061f51 100%);
}

@media (min-width: 32em) {
  .app-section {
    display: block;
  }
}
.canvas-particles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 10;
  opacity: .2;
}

.app-section-title,
.app-section-lead,
.app-section-credit,
.demo-app-container {
  position: relative;
  z-index: 20;
}

.app-section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.1em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.app-section-lead {
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  opacity: .9;
}

.demo-app-container {
  height: 450px;
  margin-right: 35px;
  margin-bottom: 40px;
  margin-left: 35px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}
.demo-app-container .demo-app {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 4px;
}

.text-centered {
  text-align: center;
}

@font-face {
  font-family: "photon-entypo";
  src: url("/dist/fonts/photon-entypo.eot");
  src: url("/dist/fonts/photon-entypo.eot?#iefix") format("eot"), url("/dist/fonts/photon-entypo.woff") format("woff"), url("/dist/fonts/photon-entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bucket:before {
  content: '\e8d5';
}

/* '' */
.icon-code:before {
  content: '\e834';
}

/* '' */
.icon-window:before {
  content: '\e86d';
}

/* '' */
